/*need to add reset defoult css
https://cssreset.com/scripts/eric-meyer-reset-css/*/

/** {
	border: 2px solid black;
}*/

/*main body html*/
html,
body {
  height: 100%;
  width: 1554px;
  box-sizing: border-box;
  font-family: 'Proxima Nova', 'Nunito Sans', Georgia, sans-serif;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/*buttons*/
.btn-remove:hover,
.btn:hover,
.btn:focus {
  color: #76a7e1;
  border: 2px solid #76a7e1;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover a,
.btn:focus a {
  color: #76a7e1;
}

/*header navigation section*/
header {
  background: #eceef4;
  margin-top: 1.5rem;
  height: 15.5rem;
  display: flex;
}

nav {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

nav button {
  color: #9098b8;
  background: #eceef4;
  padding: 18px 46px;
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid #cad0e2;
  border-radius: 5px;
}

main {
  background: #eceef4;
  padding-bottom: 8.7rem;
}

/* form  */

form {
  border: 1px solid #9098b8;
  min-width: 1246px;
  width: 1246px;
  margin: 0 auto;
  background: #ffffff;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  font-weight: 600;
}

/*styling  header order section*/
.order-section {
  display: flex;
  width: 100%;
  height: 11rem;
  border: 2px solid blue;
  justify-content: space-between;
}

.order-section > .left {
  border-bottom: 1px solid #9098b8;
  display: flex;
  padding: 2rem 3rem;
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

/*table order*/

th,
td {
  font-weight: bolder;
  letter-spacing: 1px;
  padding: 15px 25px 5px;
  text-align: left;
  font-size: smaller;
  color: #9098b8;
}

.left th {
  text-transform: uppercase;
  color: #656471;
}
/*table in header order*/
.left > table {
  border: 2px solid blue;
  position: absolute;
  top: 65px;
  left: 55px;
}
.push-order {
  display: flex;
  border-bottom: 1px solid #9098b8;
  padding: 1rem 0.8rem;
  flex-direction: column;
  justify-content: space-around;
}

/*buttons to place order & quote*/
.place-order,
.print-quote {
  padding: 18px 35px;
  margin: 7px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
}

.place-order {
  color: #fff;
  background: #80d1cf;
  border: 2px solid #80d1cf;
}

.print-quote {
  color: #9098b8;
  background: #ededee;
  border: 2px solid #ededee;
}

.order-section > .right {
  width: 32%;
  box-sizing: border-box;
  border: 1px solid #9098b8;
  padding: 1rem 3rem;
}

.help-center {
  position: relative;
  width: 100%;
  font-size: 0.9em;
  border: 2px solid blue;
  padding: 5px 2px 2px 35px;
  color: #656471;
  line-height: 1.3;
}

.help-center p {
   color: #9098b8;
}

.fa-life-ring {
  position: absolute;
  left: -10px;
  font-size: 1.5em;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: #656471;
}

/*select-translate-object*/
.select-translate-object {
  width: 100%;
  height: 33rem;
  border: 2px solid blue;
}

.select-translate-object > h1 {
  margin: 120px 0 85px;
  letter-spacing: 0.2em;
  font-size: 1.3em;
  text-transform: uppercase;
  text-align: center;
}

.select-translate-object > section {
  display: flex;
  justify-content: center;
}

/*common radio-input for desired tone
without img in label*/

input[type='radio'] {
  opacity: 0;
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

input[type='radio'] + label {
  position: relative;
  margin: 4px;
  box-sizing: content-box;
}

input[type='radio']:checked + label {
  position: relative;
  margin: 0;
  border: 5px solid #76a7e1;
}

input[type='radio']:checked + label:after {
  font-family: 'FontAwesome';
  content: '\f058';
  position: absolute;
  top: -8px;
  left: 242px;
  color: #76a7e1;
  font-size: 25pt;
  z-index: 2;
  background-color: #ffffff;
  line-height: 10pt;
}

/*styling select radio-input object-fieldset*/
.select-translate-object input[type='radio'] {
  opacity: 0;
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.select-translate-object input[type='radio'] + label {
  position: relative;
  z-index: 1;
  border: 3px solid transparent;
  border-radius: 3px;
  box-sizing: content-box;
  width: 300px;
  height: 216px;
  margin: 0 15px;
  cursor: pointer;
}

.select-translate-object input[type='radio']:checked + label {
  position: relative;
  border: 3px solid #76a7e1;
  border-radius: 7px;
}

.select-translate-object input[type='radio']:checked + label:after {
  font-family: 'FontAwesome';
  content: '\f058';
  position: absolute;
  top: -8px;
  left: 280px;
  color: #76a7e1;
  font-size: 25pt;
  z-index: 2;
  background-color: #ffffff;
  line-height: 10pt;
}

/*headers fieldsets styling*/

fieldset > h2 {
  text-transform: initial;
  font-size: x-large;
  letter-spacing: 1.1px;
}

/*fieldset .files  */

.files {
  width: 100%;
  height: 30rem;
  border: 2px solid blue;
}

.files > h2 {
  border: 2px solid blue;
  padding: 2rem 0 3rem 9rem;
}

.files > div {
  margin-top: 20px;
  border: 2px solid blue;
  padding: 8px 0 40px 150px;
}

h2 > small {
  font-weight: 400;
  font-size: initial;
  color: #9098b8;
}

/*styling select file-input*/
input[type='file'] {
  opacity: 0;
  position: absolute;
  left: -1px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.btn-upload {
  padding: 15px 35px;
  cursor: pointer;
  text-align: center;
  color: #b4b3bf;
  background: #ededee42;
  border: 2px solid #ededee;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
}

.btn-add {
  position: relative;
  padding: 20px 40px 20px 60px;
  cursor: pointer;
  color: #9098b8;
  background: #f8f7fa;
  border: 2px solid #ededee;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: 600;
}

.btn-add::before {
  position: absolute;
  content: '+';
  font-size: 1.8em;
  font-weight: 200;
  top: 15px;
  left: 30px;
}

input[type='file'] + label {
  position: relative;
  z-index: 1;
  cursor: pointer;
  box-sizing: content-box;
  font-weight: 500;
}

input[type='file']:hover + label {
  position: relative;
  border: 3px solid #76a7e1;
  border-radius: 5px;
}

/*table with uploding files*/
.preview td {
  font-size: medium;
}

.preview th {
  text-transform: uppercase;
}

.preview th:last-child,
td:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview > table {
  border: 2px solid #ededee;
  width: 90%;
  height: 160px;
  line-height: 22px;
}

.btn-remove {
  background: none;
  border: none;
    border: 2px solid transparent;

  cursor: pointer;
}



.preview td:last-child:hover + .btn-remove > i {
  color: #76a7e1;
}

.languages {
  width: 100%;
  height: 22rem;
  border: 2px solid blue;
  text-transform: uppercase;
  font-weight: 600;
}

.languages span {
  color: #9098b8;
  font-size: 0.8em;

}

.languages h2 {
  padding: 2rem 0 2rem 9rem;
}

.from-lang {
  padding: 2rem 0 1rem 9rem;
}

.to-lang {
  padding: 1rem 0 2rem 10rem;
}

.to-lang .btn-remove {
  border: 2px solid transparent;
}

.to-lang .btn-add {
  margin-left: 35px
}


.from-lang > select,
.to-lang > select {
  position: relative;
  font-size: 1em;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0 10px 0 20px;
  width: 210px;
  padding: 18px 50px;
  color: #9098b8;
  border: 2px solid #ededee;
  border-radius: 5px;
  background: #f8f7fa;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

select::after {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  line-height: 38px;
  content: '\25BC';
  text-align: center;
  color: #714BB9;
  font-size: 24px;
  border-left: 1px solid #3C1C78;
}

.to-lang .fa-trash,
.preview .fa-trash {
  color: #9098b8;
}


/*tone fieldset*/

.tone {
  width: 42%;
  height: 28rem;
  border: 2px solid blue;
  float: left;
}

.tone > section {
  padding: 1rem 0 0 2rem;
  height: 290px;
  color: #7c8194;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.tone h2,
.urgent h2 {
  padding: 2rem 0 2rem 9rem;
}

.btn-tone {
  padding: 26px;
  text-align: center;
  cursor: pointer;
  color: #b4b3bf;
  background: #ededee42;
  border: 2px solid #ededee;
  border-radius: 5px;
  width: 200px;
  font-size: 18px;
  font-weight: 600;
}

/*urgent fieldset*/

.urgent {
  width: 58%;
  height: 28rem;
  border: 2px solid blue;
}

/* .range-wrapper {
  text-align: center;
  border: 2px solid blue;
  padding: 0 60px;
  height: 70%;
} */

.range-wrapper .strong {
  text-transform: uppercase;
  color: #edbf76;
  font-weight: 600;
}

/*styling for range input*/
input[type='range'] {
  -webkit-appearance: none;
  width: 425px;
  margin-top: 2.7rem;
  position: relative;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #edbf76;
  margin-top: -5px;
  z-index: 2;
  position: relative;
}

input[type='range']::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #d6d8e2;
  position: absolute;
  z-index: 1;
}

input[type='range']::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #d6d8e2;
  position: absolute;
  right: 0;
  z-index: 1;
}

input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 425px;
  background: #eff0f5;
  height: 10px;
  border-radius: 5px;
}

.range-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.range-wrapper ul {
  text-transform: uppercase;
  font-weight: 600;
  color: #a6abc5;
  font-size: 0.8em;
  letter-spacing: 1px;
  width: 70%;
  padding: 20px 0 50px 0;
  display: flex;
  justify-content: space-between;
}

.legend {
  border: 1px solid #e6e8ee;
  width: 460px;
  padding: 25px 10px 35px 55px;
  margin-top: 1rem;
  line-height: 170%;
  font-size: 0.8em;
  letter-spacing: 1px;
  width: 75%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  color: grey;
}

.legend i {
  position: absolute;
  left: 25px;
  font-size: 1.8em;
}


.legend p {
  padding-top: 1rem;
  color: #a6abc5;
  font-weight: 100;
}

/*payment section*/

.payment {
  width: 100%;
  height: 48rem;
  border: 2px solid blue;
}

.payment h2 {
  padding: 2rem 0 2rem 9rem;
}

.pay-method  {
  padding: 1rem 2rem 0 9rem;
  display: flex;
}

/*input-radio of payment-method*/
/*styling select radio-input object-fieldset*/
.pay-method input[type='radio'] {
  opacity: 0;
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.pay-method input[type='radio'] + label {
  position: relative;
  z-index: 1;
  border: 3px solid transparent;
  border-radius: 3px;
  box-sizing: content-box;
  margin: 0 15px;
  height: 109px;
  cursor: pointer;
}

.pay-method input[type='radio']:checked + label {
  position: relative;
  border: 3px solid #76a7e1;
  border-radius: 7px;
}

.pay-method input[type='radio']:checked + label:after {
  font-family: 'FontAwesome';
  content: '\f058';
  position: absolute;
  top: -8px;
  left: 222px;
  color: #76a7e1;
  font-size: 25pt;
  z-index: 2;
  background-color: #ffffff;
  line-height: 10pt;
}

/*submit order section*/

.agree-order-quoter {
  width: 100%;
  height: 13rem;
  border: 2px solid blue;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.agree-order-quoter > label {
  margin-right: 40px;
  font-size: 14px;
  font-weight: 600;
}

.agree-order-quoter > .print-quote {
  margin-right: 140px;
}

.agree-order-quoter > .place-order {
  margin-right: 30px;
}

/*styling css-counter*/
fieldset .order-details {
  counter-reset: section;
}

order-details .order-details h2::before {
  counter-increment: section;
  content: counter(section);
  display: inline-block;
  color: white;
  background: #555;
  border: 5px solid #555;
  padding: 1px 15px;
  margin-right: 16px;
  border-radius: 50%;
}

/* footer section styling */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20rem;
  background: #494c63;
  color: #eceef4;
  border: 2px solid blue;
}

footer section {
  font-size: 14px;
  padding: 10px 0 0 25px;
  height: 40%;
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 150%;
}

footer section h3 {
  position: relative;
}
footer a {
  color: inherit;
}
.what-we-do {
  width: 260px;
}
.what-we-do .fa {
  position: absolute;
  top: 3px;
  left: -35px;
}

em {
  font-style: italic;
}

.our-address {
  margin: 0 30px 0 100px;
}

.our-address .fa {
  position: absolute;
  top: 3px;
  left: -30px;
}
.social-media {
  margin: 0 160px 0 150px;
}

.social-media h3 > .fa {
  position: absolute;
  top: 3px;
  left: -40px;
}

.our-address li,
.social-media li {
  padding: 5px;
}

.footer-logo img {
  -webkit-filter: invert(.8);
  filter: invert(.8);
}

*:before,
*:after {
  box-sizing: inherit;
}
